{% extends 'sitioweb_home.html' %}

{% block content %}
    <style>
        body {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .producto-info {
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 23px;
            color: #545454;
            margin-bottom: 8px;
            line-height: 2.0;
            flex-grow: 1;
        }

        .cantidad-comprar input {
            font-size: 23px;
            width: 60px;
            text-align: center;
            margin-right: 10px;
        }

        .cantidad-comprar button {
            background-color: blue;
            color: white;
            font-size: 22px;
            width: 40px; /* Ancho fijo para ambos botones */
            height: 40px; /* Alto fijo para ambos botones */
            padding: 0; /* Elimina el espaciado interno */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 5px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
            color: #333;
        }

        .container {
            min-height: calc(100vh - 150px); /* Calcula la altura mínima del contenido */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .total-pagar input {
            font-size: 23px;
            width: 60px;
            text-align: center;
            margin-right: 10px;
            margin-top: 15px;
        }

        .boton-comprar button {
            background-color: green; 
            color: white;
            font-size: 24px; 
            padding: 15px 25px; 
            border: none; 
            border-radius: 8px; 
            cursor: pointer; 
            margin-top: 25px;
            margin-bottom: 20px;
        }


    </style>
    <div class="container">
        <div class="producto-info">
            <h1>CONFIRMAR COMPRA</h1>
            <p>Total: {{ monto_total }}</p>
            <p>Recuerde que puede usar sus puntos como parte del pago!</p>
            <p>Sus puntos disponibles: {{ cliente.cliente_cantidad_puntos }}</p>
            <p>Valor actual de cada punto: {{ punto_valor }}</p>

            <div class="cantidad-comprar">
                <label for="cantidad-comprar">Puntos a Utilizar:</label>
                <input type="text" id="cantidad-comprar" value="0" readonly>
                <button onclick="decrementar()">-</button>
                <button onclick="incrementar({{ cliente.cliente_cantidad_puntos }})">+</button>
            </div>

            <div class="total-pagar">
                <label for="total-pagar">TOTAL a Pagar:</label>
                <input type="text" id="total-pagar" value="0" readonly>
                <label for="total-pagar">$</label>
            </div>

            <div class="boton-comprar">
                {% if tarjeta %}
                    <form id="compraForm" method="POST" action="{% url 'sitioweb:pagar_carrito' tarjeta.metodo_pago_id %}">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" id="cantidad-comprar-input" name="cantidad_comprar" value="0">
                            <input type="hidden" name="cliente" value="{{ cliente }}">
                            <button type="button" onclick="submitForm()">CONFIRMAR COMPRA</button>
                        </div>
                    </form>
                {% else %}
                    <p>El ID de la botella no está disponible o es inválido.</p>
                {% endif %}
            </div>

            <div class="boton-regresar">
                <a href="/sitioweb/productos">Volver al listado</a>
            </div>
        </div>
    </div>
    <script>
        let cantidadComprar = 0;
        const punto_valor = {{ punto_valor }};

        function actualizarTotal() {
            const campoCantidad = document.getElementById('cantidad-comprar');
            const campoTotal = document.getElementById('total-pagar');

            const cantidad = parseInt(campoCantidad.value);
            const total = {{monto_total}} - (cantidad * punto_valor);
            
            campoTotal.value = total;
        }

        function incrementar(maximo) {
            const campoCantidad = document.getElementById('cantidad-comprar');
            if (cantidadComprar < maximo) {
                cantidadComprar++;
                campoCantidad.value = cantidadComprar;
                campoCantidad.removeAttribute('readonly');
                actualizarTotal(); // Actualiza el total al incrementar
            }
        }

        function decrementar() {
            const campoCantidad = document.getElementById('cantidad-comprar');
            if (cantidadComprar > 0) {
                cantidadComprar--;
                campoCantidad.value = cantidadComprar;
                if (cantidadComprar === 0) {
                    campoCantidad.setAttribute('readonly', 'readonly');
                }
                actualizarTotal();
            }
        }

        // Añade esta función para enviar el formulario con la cantidad seleccionada
        function submitForm() {
            // Actualiza el campo oculto con la cantidad seleccionada
            document.getElementById('cantidad-comprar-input').value = cantidadComprar;
            // Envía el formulario
            document.getElementById('compraForm').submit();
        }
    </script>
    
{% endblock %}