{% extends 'sitioweb_home.html' %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background-color: #FFEBCC;
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Asegura que la página ocupe al menos el alto de la ventana */
        }

        .container {
            flex: 1; /* Hace que la sección de contenido tome el espacio restante */
            padding-top: 20px;
        }

        footer {
            width: 100%;
            bottom: 0;
            position: fixed;
            background-color: #685747;
            color: white;
            padding: 10px;
            font-size: 14px;
            text-align: center;
        }
    </style>

    <div class="container mt-4">
        <h1 class="mb-4">TARJETAS</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        {% if cliente.tarjetas_natural.all  %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Banco</th>
                                        <th scope="col">CVV</th>
                                        <th scope="col">Fecha de Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tarjeta in cliente.tarjetas_natural.all %}
                                        <tr onclick="window.location='/sitioweb/carrito/confirmar/{{ tarjeta.metodo_pago_id }}/';" style="cursor: pointer;">
                                            <td>{{ tarjeta.tarjeta_numero }}</td>
                                            <td>{{ tarjeta.tarjeta_banco }}</td>
                                            <td>{{ tarjeta.tarjeta_cvv }}</td>
                                            <td>{{ tarjeta.tarjeta_fecha_vencimiento }}</td>
                                            {% comment %} <td>
                                                <form action="{% url 'sitioweb:eliminar_producto' producto.3 %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'sitioweb:modificar_cantidad' producto.3 %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="number" name="nueva_cantidad" value="{{ producto.0 }}">
                                                    <button type="submit" class="btn btn-primary btn-sm">Modificar</button>
                                                </form>
                                            </td> {% endcomment %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="{% url 'sitioweb:registrar_tarjeta' %}">Registrar Tarjeta</a>
                        {% else %}
                            <p>No tiene tarjetas registradas</p>
                            <a href="{% url 'sitioweb:registrar_tarjeta' %}">Registrar Tarjeta</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        {% if productos_carrito %}
                            {% with total_carrito=0 %}
                                {% for producto in productos_carrito %}
                                    {% with item_total=producto.0|add:producto.1 %}
                                        {% with total_carrito=total_carrito|add:item_total %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                            {% endwith %}
                            {% if total_carrito %}
                                <h3 class="mb-4">Total a Pagar: {{ total_carrito }}</h3>
                                <button class="btn btn-primary btn-block">Pagar</button>
                                <a href="{% url 'inventario:registrar_inventario' %}">Nuevo</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <strong>ASORONUCAB &copy; 2023 <a href="https://adminlte.io">ASORON</a>.</strong>
        <span>Descubre la excelencia en cada botella.</span>
    </footer>
{% endblock %}
