{% extends 'home.html'%}

{% block body%}
    <body class="hold-transition layout-top-nav">
    <div class="wrapper">

    {% include 'header.html'%}

    <div class="content-wrapper">
        
        <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        <i class="bi bi-stack mr-2 " style="color: #685747;"></i> Inventario
                    </h1>
                </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'inventario:registrar_inventario' %}">Nuevo</a></li>
                <li class="breadcrumb-item"><a href="{% url 'inventario:index_producto' %}">Productos</a></li>
                <li class="breadcrumb-item"><a href="{% url 'inventario:index_ofertas' %}">Ofertas</a></li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <div class = "content">
            <div class = "container"> 
                {% block content%}
                <style>
                    .espaciado {
                        margin-bottom: 20px; /* Espaciado en la parte inferior */
                        padding-left: 10px;  /* Espaciado en el lado izquierdo */
                        margin-left: auto;
                        margin-right: auto;
                    }
                
                    body {
                      font-family: Arial, sans-serif;
                  }
                
                  h2 {
                      margin-bottom: 20px;
                  }
                
                  table {
                      border-collapse: collapse;
                      width: 80%;
                      margin-left: auto;
                      margin-right: auto; 
                  }
                
                  th, td {
                      padding: 12px;
                      text-align: left;
                      border-bottom: 1px solid #ddd;
                  }
                
                  tbody tr:hover {
                      background-color: #DDDDDD;
                  }
                
                  /* Estilos adicionales para mejorar la apariencia */
                  th {
                      background-color: #f2f2f2;
                  }
                  </style>
                    <table border="1", style = espaciado>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inventario in lista_inventario %}
                                <tr onclick="window.location='/inventario/{{ inventario.inventario_id }}';" style="cursor: pointer;">
                                    <td>{{ inventario.fk_botella.fk_ron.ron_nombre }} {{ inventario.fk_botella.botella_nombre }}</td>
                                    <td>{{ inventario.inventario_cantidad }}</td>                                                         
                                    <td>{{ inventario.fk_botella.botella_precio }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.html'%}
    </div>
    </body>
{% endblock %}