{% extends 'home.html'%}

{% block body %}
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: #FFEBCC;
        }

        .icono-blanco {
            font-size: 50px; /* Tamaño más grande */
            color: white;
        }

        .group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 100px; /* Espacio entre grupos */
            width: 800px; /* Ajusta el ancho según el margen y el espacio entre grupos */
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 50px;
            width: 100%;
        }

        .menu-item {
            flex: 0 0 calc(25% - 20px);
            width: 100px;
            height: 100px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
        }


        /* Colores de fondo de los botones */
        .ventas { background-color: #0047FF;}
        .sitio-web { background-color:#FC59FF;}
        .inventario { background-color: #00FF19; }
        .clientes { background-color: #5A20FF; }
        .facturacion { background-color: #FF4242;}
        .eventos { background-color: #00FFA3; }
        .nomina { background-color: #FF9900; }
        .diario { background-color: #0DF4F4; }
        .compras { background-color: #8224CB;}
        .usuarios { background-color: #FFC700; }
        .dashboard { background-color: #AE148C; }

        /* Estilos para el texto */
        .menu-item span {
            font-size: 14px;
            margin-top: 5px;
        }

        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #478896;
            color: #fff;
            padding: 8px 18px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 15px;
            text-decoration: none;
        }

        .logout-button:hover {
            background-color: #0056b3;
            color: #fff;
        }
        
    </style>
    <div class="container" style="height: 100vh; display: flex; flex-direction: column;">

        <a href="http://127.0.0.1:8000/menu/login" class="logout-button">Cerrar Sesión</a>

        <div class="menu">
            <div class="group">
                <div>
                    <div>
                        <a href="/ventas" class="menu-item ventas">
                            <i class="bi bi-briefcase-fill icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Ventas</span>
                </div>
                <div>
                    <div>
                        <a href="/sitioweb" class="menu-item sitio-web">
                            <i class="bi bi-globe icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Sitio Web</span>
                </div>
                <div>
                    <div>
                        <a href="/inventario" class="menu-item inventario">
                            <i class="bi bi-stack icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Inventario</span>
                </div>
                <div>
                    <div>
                        <a href="/clientes" class="menu-item clientes">
                            <i class="bi bi-emoji-smile-fill icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Clientes</span>
                </div>
            </div>
            <div class="group">
                <div>
                    <div>
                        <a href="/facturacion" class="menu-item facturacion">
                            <i class="bi bi-file-earmark-text-fill icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Facturación</span>
                </div>
                <div>
                    <div>
                        <a href="/eventos" class="menu-item eventos">
                            <i class="bi bi-calendar-event-fill icono-blanco"></i>
                        </a>
                    </div>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Eventos</span>
                </div>
                <div>
                    <a href="/nomina" class="menu-item nomina">
                        <i class="bi bi-journal-album icono-blanco"></i>
                    </a>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Nómina</span>
                </div>
                <div>
                    <a href="/diario" class="menu-item diario">
                        <i class="bi bi-newspaper icono-blanco"></i>
                    </a>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Diario</span>
                </div>
            </div>
            <div class="group">
                <div>
                    <a href="/compras" class="menu-item compras">
                        <i class="bi bi-cart-fill icono-blanco"></i>
                    </a>
                    <span style="justify-content: center;display: flex; font-weight:bold;" >Compras</span>
                </div>
                <div>
                    <a href="/usuarios" class="menu-item usuarios">
                        <i class="bi bi-people-fill icono-blanco"></i>
                    </a>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Usuarios</span>
                </div>
                <div>
                    <a href="/dashboard" class="menu-item dashboard">
                        <i class="bi bi-pie-chart-fill icono-blanco"></i>
                    </a>
                    <span style="justify-content: center;display: flex; font-weight:bold;">Dashboard</span>
                </div>
                <div>
                    <div class="menu-item "></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
